streamlit==1.41.1
supabase==2.11.0
spotipy==2.24.0
pandas==2.2.3
numpy==1.24.3
scipy==1.15.1
requests==2.32.3
python-dotenv==1.0.1
webdriver-manager==4.0.2
beautifulsoup4==4.12.3
tqdm==4.67.1
selenium==4.27.1
psycopg2==2.9.10