python==3.11.9
streamlit==1.42.0
supabase==2.13.0
spotipy==2.25.0
pandas==2.2.3
numpy==2.2.2
scipy==1.15.1
requests==2.32.3
python-dotenv==1.0.1
webdriver-manager==4.0.2
beautifulsoup4==4.13.3
tqdm==4.67.1
selenium==4.28.1
psycopg2-binary==2.9.10
